
/* Desktop */

@media only screen
and (min-device-width: 1300px) {
    body {
        font-family: sans-serif;
        font-size: 18px;
        line-height: 1.42857143;
        margin: 0;
        background: #dcebe9;
    }
    
    #header {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #header h1 {
        font-size: 6vw;
        font-weight: 500;
        line-height: 1.1;
        margin: 0;
        color: #70b9b0;
    }
    
    #header h3 {
        font-size: 3vw;
        font-weight: 500;
        line-height: 1.5;
        margin: 0;
        color: rgb(100, 100, 100);
    }
    
    #header h6 {
        font-size: 1.8vw;
        font-weight: 500;
        line-height: 1.5;
        margin: 0;
        color: rgb(143, 143, 143);
        margin-bottom: 20px;
    }
    
    #linklist {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .link {
        margin-left: 10px;
        margin-right: 10px;
        border: 2px solid grey;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .link:hover{
        border: 2px solid #70b9b0;
        color: white;
        background-color: #70b9b0;
    }
    
    .link p {
        margin: 5px;
    }
}


/* Mobile */

@media only screen
and (max-device-width: 1299px) {
    body {
        font-family: sans-serif;
        font-size: 18px;
        line-height: 1.42857143;
        margin: 0;
        background: #dcebe9;
    }
    
    #header {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #header h1 {
        font-size: 9vw;
        font-weight: 500;
        line-height: 1.1;
        margin: 0;
        color: #70b9b0;
    }
    
    #header h3 {
        font-size: 4vw;
        font-weight: 500;
        line-height: 1.5;
        margin: 0;
        color: rgb(100, 100, 100);
    }
    
    #header h6 {
        font-size: 3vw;
        font-weight: 500;
        line-height: 1.5;
        margin: 0;
        color: rgb(143, 143, 143);
        margin-bottom: 20px;
    }
    
    #linklist {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .link {
        margin-left: 10px;
        margin-right: 10px;
        border: 2px solid grey;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .link:hover{
        border: 2px solid #70b9b0;
        color: white;
        background-color: #70b9b0;
    }
    
    .link p {
        margin: 5px;
    }
}



